<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="">

    <meta property="og:description" content="{{meta_description}}">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <meta name="twitter:domain" content="">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{asset 'favicon.ico'}}">
    <link rel="apple-touch-icon" href="" sizes="120x120">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/css/main.css">

    {{ghost_head}}
  </head>
  <body>
    <main id="{{title}}">